/* body {
  margin: 0 480px 0 480px;
  background-color: pink;
} */

p, h2 {
    margin: 0; 
    padding: 0;
}


body.container {
    background-color: pink;
    max-width: 60vw;
    min-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

header {
  text-align: center;
  height: 140px;
  box-sizing: border-box;
}
header h1 {
  font: bold 38px;
  font-size: 50px;
  color: rgb(113, 31, 53);
  margin: 0;
  padding: 0;
}
/* span {
  display: block;
  margin-top: 10px;
}
span img {
  height: 55px;
} */
main {
  display: flex;
  justify-content: space-around;
}
section .uno {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.title {
  text-align: start;
  font: bold 25px;
  color: rgb(113, 31, 53);
}
blockquote {
  text-align: start;
  width: 240px;
}
section .dos {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
footer h2 {
  text-align: center;
  font: bold 25px;
  color: rgb(113, 31, 53);
}

footer header {
    height: 60px;
    width: 100%;
    width: 70%;
    margin: 0px auto 15px auto;
}

.store-container {
    width: 100%;
    margin-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.store-container .apple-store,
.store-container .google-store {
    background-color: black; 
    width: 125px;
    height: 25px;
    margin-right: 50px;
    border-radius: 5px;
    padding: 10px 17px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.store-container .icon {
    width: 24px;
    height: 24px;
    display: block;
    /* margin-right: 10px; */
}

.store-container p {
    font-size: 10px;
}
.store-container p span {
    display: block;
    font-size: 14px;
    font-weight: bold;
}


.store-container .apple-store span.icon {
    background: url(../images/apple.png) no-repeat;
}

.store-container .google-store span.icon {
    background: url(../images/goog.png) no-repeat;
}


